@model DoAnPhanMem_Nhom4.Models.NoiDungTieuChi

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NoiDungTieuChi</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenNoiDung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenNoiDung)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiemToiDa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiemToiDa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdMucNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdMucNavigation.IdMuc)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdNoiDung">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
