@model IEnumerable<DoAnPhanMem_Nhom4.Models.Lop>

@{
    ViewData["Title"] = "Index";
}


<!-- Content Start -->
<div class="content">
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
        <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
            <h2 class="text-primary mb-0"><i class="fa fa-hashtag"></i></h2>
        </a>
        <a href="#" class="sidebar-toggler flex-shrink-0">
            <i class="fa fa-bars"></i>
        </a>

        <div class="navbar-nav align-items-center ms-auto">
            <div class="nav-item dropdown">
                @if (User.Identity.IsAuthenticated)
                {
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        <img class="rounded-circle me-lg-2" src="~/assets/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                        <span class="d-none d-lg-inline-flex">@User.Identity.Name</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                        <a href="#" class="dropdown-item">My Profile</a>
                        <a asp-controller="Login" asp-action="LogOut" class="dropdown-item">Log Out</a>
                    </div>
                }
                else
                {
                    <a href="/Login/Index" class="nav-link">
                        <span class="d-none d-lg-inline-flex">Login</span>
                    </a>
                }
            </div>
        </div>
    </nav>
    <!-- Navbar End -->
    <!-- Table Start -->
    <div class="container pt-4">
        <div class="row">
            <div class="col-12">
                <div class="bg-light rounded h-100 p-4">
                    <h3 style="text-align: center;" class="mb-4">Phiếu đánh giá điểm rèn luyện</h3>
    
                    <form class="d-none d-md-flex ms-4">
                        <div class="col-sm-2">
                            <div class="bg-light rounded h-100 p-4">
                                <h6 style="line-height: 2.5;" class="mb-4">Search</h6>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="bg-light rounded h-100 p-4">

                                <select class="form-select mb-3" aria-label="Default select example">
                                    <option selected>Open this select menu</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="bg-light rounded h-100 p-4">
                                <input class="form-control border-0" type="search" placeholder="Search" />
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="bg-light rounded h-100 p-4">
                                <input class="btn btn-primary" type="submit" value="Tìm kiếm" />
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive">

                        <table class="table">

                            <thead>
                                <tr>
                                    <th scope="col">Tên lớp</th> 
                                    <th scope="col"></th> 
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td scope="row">
                                            @Html.DisplayFor(modelItem => item.TenLop)
                                        </td>

                                         
                                        @if (User.IsInRole("admin"))
                                        {
                                            <td>
                                                <a asp-action="Edit" asp-route-id="@item.IdLop">Edit</a> |
                                                <a asp-action="Details" asp-route-id="@item.IdLop">Details</a> |
                                                <a asp-action="Delete" asp-route-id="@item.IdLop">Delete</a>
                                            </td>
                                        }
                                        <td>
                                            <a asp-action="Index" asp-controller="SinhViens" asp-route-id="@item.IdLop" asp-route-type="lop" >Xem</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Table End -->


</div>
<!-- Content End -->
